<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home for sqlite data</title>
  </head>
  <body>
  <div class="mess">
    <br>
<a href="/enternew" > Add New Student Record</a>
<hr>
<a href="/list" >Show the list for Students</a>
  </div>
  </body>
</html>
<style >
  .mess {
 background-color: darkblue;
 text-align: center;

 color: yellow;
 width: 18%;
 height:120px;
 margin: auto;
 margin-top:300px;
 font-size: 20px;
 font-style: italic;
 font-weight: bold;
 border-style: double;
 font-family:sans-serif;
  }
  a:link {
      color: yellow;
  }

  /* visited link */
  a:visited {
      color: yellow;
  }

  /* mouse over link */
  a:hover {
      color: orange;
  }

  /* selected link */
  a:active {
      color: lightblue;
  }
</style>
